<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/ckeditor5/ckeditor.js"></script>
</head>

<body>
    <!-- 导航条 -->
    <%- include('../common/header.ejs') %>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">

                    <%- include('../common/aside.ejs') %>

                </div>
                <div class="col-md-10">
                    <ol class="breadcrumb">
                        <li><a href="/admin/productlist">商品管理</a></li>
                        <li class="active">增加商品</li>
                    </ol>
                    <div class="panel panel-default">
                        <div class="panel-heading">增加商品</div>
                        <div class="panel-body">
                            <form action="/admin/doproductadd" class="form-horizontal" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">商品名称:</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" name="title">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">商品一级分类:</label>
                                    <div class="col-sm-2">
                                        <select name="cate_id" id="">
											<option value="1">电视机</option>
											<option value="2">电饭煲</option>
											<option value="3">洗衣机</option>
										</select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">商品二级分类:</label>
                                    <div class="col-sm-2">
                                        <select name="goods_id" id="">
											<option value="10001">电视机1</option>
											<option value="20002">电视机2</option>
                                            <option value="30003">电视机3</option>
                                            <option value="40004">电饭煲1</option>
											<option value="50005">电饭煲2</option>
                                            <option value="60006">电饭煲3</option>
                                            <option value="70007">洗衣机1</option>
											<option value="80008">洗衣机2</option>
											<option value="90009">洗衣机3</option>
										</select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">商品图片:</label>
                                    <div class="col-sm-2">
                                        <input type="file" class="form-control" style="border: 0px !important; outline: none;" id="file" name="pic">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-2">
                                        <img src="" style="width: 100px;" alt="" id="thumb">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">商品价格:</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" name="price">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">商品邮费:</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" name="postage">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">商品描述:</label>
                                    <div class="col-sm-8">
                                        <textarea name="content" id="ckeditor" cols="60" rows="10"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">
                                         <input type="submit" value="提交">
                                    </label>


                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            let ckeditor;
            ClassicEditor.create(document.querySelector("#ckeditor"))

            // js实现上传预览
            let file = document.querySelector("#file") //获取上传文件的input
            let thumb = document.querySelector("#thumb"); //获取上传图片之后预览img标签
            file.onchange = function() {
                //1、创建一个文件读取对象
                let render = new FileReader()
                console.log(this.files[0]);
                //2、读取文件
                console.log(render);
                render.readAsDataURL(this.files[0])
                render.onload = function() {
                    console.log(render.result);
                    thumb.src = render.result
                }
            }
        </script>
        <script src="./bootstrap/js/jquery-3.4.1.js"></script>
        <script src="./bootstrap/js/bootstrap.js"></script>
</body>

</html>